<div align="center">

# Assignment 4

---

**Author:** Matthew Walczyk  
**Date:** 9/16/2024  
**Modified By:** Matthew Walczyk  
**Description:** This program contains my week 4 exercises using pandas.

---
</div>

In [9]:
import pandas as pd
import nasdaqdatalink
import numpy as np
import os

In [10]:
# Using the GitHub repo for the data so in theory it works anywhere
data = pd.read_csv('https://raw.githubusercontent.com/armando-fandango/Python-Data-Analysis/master/Chapter03/WHO_first9cols.csv')

who_df = pd.DataFrame(data)

print(f"Printing the dataframe \n {who_df}")

Printing the dataframe
                 Country  CountryID  Continent  Adolescent fertility rate (%)  \
0           Afghanistan          1          1                          151.0
1               Albania          2          2                           27.0
2               Algeria          3          3                            6.0
3               Andorra          4          2                            NaN
4                Angola          5          3                          146.0
..                  ...        ...        ...                            ...
197             Vietnam        198          6                           25.0
198  West Bank and Gaza        199          1                            NaN
199               Yemen        200          1                           83.0
200              Zambia        201          3                          161.0
201            Zimbabwe        202          3                          101.0

     Adult literacy rate (%)  \
0                       28.0
1                       98.7
2                       69.9
3                        NaN
4                       67.4
..                       ...
197                     90.3
198                      NaN
199                     54.1
200                     68.0
201                     89.5

     Gross national income per capita (PPP international $)  \
0                                                  NaN
1                                               6000.0
2                                               5940.0
3                                                  NaN
4                                               3890.0
..                                                 ...
197                                             2310.0
198                                                NaN
199                                             2090.0
200                                             1140.0
201                                                NaN

     Net primary school enrolment ratio female (%)  \
0                                              NaN
1                                             93.0
2                                             94.0
3                                             83.0
4                                             49.0
..                                             ...
197                                           91.0
198                                            NaN
199                                           65.0
200                                           94.0
201                                           88.0

     Net primary school enrolment ratio male (%)  \
0                                            NaN
1                                           94.0
2                                           96.0
3                                           83.0
4                                           51.0
..                                           ...
197                                         96.0
198                                          NaN
199                                         85.0
200                                         90.0
201                                         87.0

     Population (in thousands) total
0                            26088.0
1                             3172.0
2                            33351.0
3                               74.0
4                            16557.0
..                               ...
197                          86206.0
198                              NaN
199                          21732.0
200                          11696.0
201                          13228.0

[202 rows x 9 columns]

In [11]:
# Two ways to do this with len and shape.....I'm guessing we want to use the Pandas way
print(f"Number of rows in the dataframe is {who_df.shape[0]}")
print()
print(f"Column headers in the dataframe: \n {who_df.columns}")
print()
print(f"Data types: \n {who_df.dtypes}")
print()
print(f"Index is {who_df.index}")

Number of rows in the dataframe is 202

Column headers in the dataframe:
 Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total'],
      dtype='object')

Data types:
 Country                                                    object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object

Index is RangeIndex(start=0, stop=202, step=1)

In [12]:
# Get the column to use for the rest of the questions
country_series = who_df['Country']

print(f"Data Type: {country_series.dtype}")
print()
print(f"Shape: {country_series.shape}")
print()
print(f"Index: {country_series.index}")
print()
print(f"Values: \n {country_series.values}")
print()
print(f"Name: {country_series.name}")

Data Type: object

Shape: (202,)

Index: RangeIndex(start=0, stop=202, step=1)

Values:
 ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Korea, Dem. Rep.' 'Korea, Rep.' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libyan Arab Jamahiriya' 'Lithuania' 'Luxembourg' 'Macao, China'
 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'Netherlands Antilles' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']

Name: Country

In [13]:
nasdaqdatalink.ApiConfig.api_key = "G3G4rqxzBGF9qSKtnxFr"
data = nasdaqdatalink.get_table("QDL/OPEC")
# Have to set the index to do this exercise because date was not the index
data.set_index('date', inplace=True) 

print(f"Head: \n {data.head()}")
print()
print(f"Tail: \n {data.tail()}")
print()
print(f"Last value: \n {data.iloc[-1]}")
print()
print(f"Data for 2023-01-05: \n {data.loc['2023-01-05']}")

Head:
             value
date
2024-01-25  81.98
2024-01-24  81.05
2024-01-23  81.30
2024-01-22  79.70
2024-01-19  80.27

Tail:
             value
date
2003-01-08  28.86
2003-01-07  29.72
2003-01-06  30.71
2003-01-03  30.83
2003-01-02  30.05

Last value:
 value    30.05
Name: 2003-01-02 00:00:00, dtype: float64

Data for 2023-01-05:
 value    75.77
Name: 2023-01-05 00:00:00, dtype: float64

In [14]:
print(f"Greater than mean value \n {data[data['value'] > data['value'].mean()]}")

Greater than mean value
             value
date
2024-01-25  81.98
2024-01-24  81.05
2024-01-23  81.30
2024-01-22  79.70
2024-01-19  80.27
...           ...
2006-08-01  69.97
2006-07-18  70.29
2006-07-17  71.40
2006-07-14  71.71
2006-07-13  70.27

[2513 rows x 1 columns]

In [15]:
# Needed the second column to do the other greater than mean
raw_data = nasdaqdatalink.get_table("QDL/OPEC")

print(f"Greater than mean date \n {raw_data[raw_data['date'] > raw_data['date'].mean()]}")

Greater than mean date
            date   value
None
0    2024-01-25   81.98
1    2024-01-24   81.05
2    2024-01-23   81.30
3    2024-01-22   79.70
4    2024-01-19   80.27
...         ...     ...
2712 2013-07-19  106.40
2713 2013-07-18  106.11
2714 2013-07-17  105.28
2715 2013-07-16  105.39
2716 2013-07-15  105.31

[2717 rows x 2 columns]

In [16]:
clean_data = data.dropna()

print(f"Describe: {clean_data.describe()}")
print()
print(f"Count: {clean_data.count()}")
print()
# It seems that mad has been depcrecated and removed from the pandas library so I googled a calculation for it
print(f"MAD: {clean_data - clean_data.mean().abs().mean()}")
print()
print(f"Mean: {clean_data.mean()}")

Describe:              value
count  5435.000000
mean     69.908598
std      26.418165
min      12.220000
25%      49.490000
50%      67.000000
75%      90.910000
max     140.730000

Count: value    5435
dtype: int64

MAD:                 value
date
2024-01-25  12.071402
2024-01-24  11.141402
2024-01-23  11.391402
2024-01-22   9.791402
2024-01-19  10.361402
...               ...
2003-01-08 -41.048598
2003-01-07 -40.188598
2003-01-06 -39.198598
2003-01-03 -39.078598
2003-01-02 -39.858598

[5435 rows x 1 columns]

Mean: value    69.908598
dtype: float64

In [17]:
print(f"Median: {clean_data.median()}")
print()
print(f"Max: {clean_data.max()}")
print()
print(f"Min: {clean_data.min()}")
print()
print(f"Mode: {clean_data.mode().iloc[0]}")
print()
print(f"Standard Deviation: {clean_data.std()}")
print()
print(f"Variance: {clean_data.var()}")
print()
print(f"Skewness: {clean_data.skew()}")

Median: value    67.0
dtype: float64

Max: value    140.73
dtype: float64

Min: value    12.22
dtype: float64

Mode: value    108.08
Name: 0, dtype: float64

Standard Deviation: value    26.418165
dtype: float64

Variance: value    697.919428
dtype: float64

Skewness: value    0.244386
dtype: float64

In [18]:
rand = np.random.rand
rand_int = np.random.randint

# Using the data from the book 
data_frame = pd.DataFrame({
    'Weather': ['cold', 'hot', 'cold', 'hot', 'cold', 'hot', 'cold'],
    'Food': ['soup', 'soup', 'icecream', 'chocolate', 'icecream', 'icecream', 'soup'],
    'Price': 10 * rand(7),
    'Number': rand_int(1, 9, size=7)
})

print("Original DataFrame:\n", data_frame)
print()

weather_group = data_frame.groupby('Weather')

print(f"Weather group first: \n {weather_group.first()}")
print()
print(f"Weather group last: \n {weather_group.last()}")
print()
print(f"Weather group mean: {weather_group.mean(numeric_only=True)}")

Original DataFrame:
   Weather       Food     Price  Number
0    cold       soup  3.548063       5
1     hot       soup  5.856842       3
2    cold   icecream  6.015975       2
3     hot  chocolate  8.316437       8
4    cold   icecream  7.412798       1
5     hot   icecream  1.138057       4
6    cold       soup  3.907533       3

Weather group first:
          Food     Price  Number
Weather
cold     soup  3.548063       5
hot      soup  5.856842       3

Weather group last:
              Food     Price  Number
Weather
cold         soup  3.907533       3
hot      icecream  1.138057       4

Weather group mean:             Price  Number
Weather
cold     5.221093    2.75
hot      5.103779    5.00

In [19]:
weather_food_group = data_frame.groupby(['Weather', 'Food'])

print(f"Aggregated: \n {weather_food_group.agg([np.mean, np.median])}")

Aggregated:
                       Price           Number
                       mean    median   mean median
Weather Food
cold    icecream   6.714387  6.714387    1.5    1.5
        soup       3.727798  3.727798    4.0    4.0
hot     chocolate  8.316437  8.316437    8.0    8.0
        icecream   1.138057  1.138057    4.0    4.0
        soup       5.856842  5.856842    3.0    3.0

C:\Users\fclplb8\AppData\Local\Temp\ipykernel_13488\3876337089.py:3: FutureWarning: The provided callable <function mean at 0x000002417EB0DFC0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(f"Aggregated: \n {weather_food_group.agg([np.mean, np.median])}")
C:\Users\fclplb8\AppData\Local\Temp\ipykernel_13488\3876337089.py:3: FutureWarning: The provided callable <function median at 0x000002417EC416C0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  print(f"Aggregated: \n {weather_food_group.agg([np.mean, np.median])}")
C:\Users\fclplb8\AppData\Local\Temp\ipykernel_13488\3876337089.py:3: FutureWarning: The provided callable <function mean at 0x000002417EB0DFC0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(f"Aggregated: \n {weather_food_group.agg([np.mean, np.median])}")

In [20]:
first_three_rows = data_frame.head(3)

print(f"First 3 Rows: \n {first_three_rows}")
print()

concatenated_df = pd.concat([data_frame, first_three_rows])

print(f"DataFrame after concatenation: \n {concatenated_df}")
print()

last_two_rows = data_frame.tail(2)

print(f"Last 2 Rows: \n {last_two_rows}")
print()

# Append is deprecated and removed from the pandas library so I used concat
combined_df_append =  pd.concat([first_three_rows, last_two_rows])

print(f"Combined DataFrame using append: \n {combined_df_append}")

First 3 Rows:
   Weather      Food     Price  Number
0    cold      soup  3.548063       5
1     hot      soup  5.856842       3
2    cold  icecream  6.015975       2

DataFrame after concatenation:
   Weather       Food     Price  Number
0    cold       soup  3.548063       5
1     hot       soup  5.856842       3
2    cold   icecream  6.015975       2
3     hot  chocolate  8.316437       8
4    cold   icecream  7.412798       1
5     hot   icecream  1.138057       4
6    cold       soup  3.907533       3
0    cold       soup  3.548063       5
1     hot       soup  5.856842       3
2    cold   icecream  6.015975       2

Last 2 Rows:
   Weather      Food     Price  Number
5     hot  icecream  1.138057       4
6    cold      soup  3.907533       3

Combined DataFrame using append:
   Weather      Food     Price  Number
0    cold      soup  3.548063       5
1     hot      soup  5.856842       3
2    cold  icecream  6.015975       2
5     hot  icecream  1.138057       4
6    cold      soup  3.907533       3

In [21]:
dest_df = pd.read_csv('https://raw.githubusercontent.com/armando-fandango/Python-Data-Analysis/refs/heads/master/Chapter03/dest.csv')
tips_df = pd.read_csv('https://raw.githubusercontent.com/armando-fandango/Python-Data-Analysis/refs/heads/master/Chapter03/tips.csv')

print(f"Merged: \n {pd.merge(dest_df, tips_df, on='EmpNr')}")
print()

dest_df_indexed = dest_df.set_index('EmpNr')
tips_df_indexed = tips_df.set_index('EmpNr')
print(f"Joined: \n {dest_df_indexed.join(tips_df_indexed, how='inner').reset_index()}")

Merged:
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0

Joined:
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0

In [22]:
selected_columns = ['Country', 'Net primary school enrolment ratio male (%)']
first_three_rows = who_df.loc[:2, selected_columns]

print(f"First 3 Rows: \n {first_three_rows}")
print()

print(f"Missing Values: \n {who_df.isnull()}")

First 3 Rows:
        Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          NaN
1      Albania                                         94.0
2      Algeria                                         96.0

Missing Values:
      Country  CountryID  Continent  Adolescent fertility rate (%)  \
0      False      False      False                          False
1      False      False      False                          False
2      False      False      False                          False
3      False      False      False                           True
4      False      False      False                          False
..       ...        ...        ...                            ...
197    False      False      False                          False
198    False      False      False                           True
199    False      False      False                          False
200    False      False      False                          False
201    False      False      False                          False

     Adult literacy rate (%)  \
0                      False
1                      False
2                      False
3                       True
4                      False
..                       ...
197                    False
198                     True
199                    False
200                    False
201                    False

     Gross national income per capita (PPP international $)  \
0                                                 True
1                                                False
2                                                False
3                                                 True
4                                                False
..                                                 ...
197                                              False
198                                               True
199                                              False
200                                              False
201                                               True

     Net primary school enrolment ratio female (%)  \
0                                             True
1                                            False
2                                            False
3                                            False
4                                            False
..                                             ...
197                                          False
198                                           True
199                                          False
200                                          False
201                                          False

     Net primary school enrolment ratio male (%)  \
0                                           True
1                                          False
2                                          False
3                                          False
4                                          False
..                                           ...
197                                        False
198                                         True
199                                        False
200                                        False
201                                        False

     Population (in thousands) total
0                              False
1                              False
2                              False
3                              False
4                              False
..                               ...
197                            False
198                             True
199                            False
200                            False
201                            False

[202 rows x 9 columns]

In [23]:
print(f"Total number of NaN: {who_df.isnull().sum().sum()}")
print()

print(f"NaN values per Column: \n { who_df.isnull().sum()}")
print()

print(f"Rows without missing values: \n {who_df.dropna()}")

Total number of NaN: 179

NaN values per Column:
 Country                                                    0
CountryID                                                  0
Continent                                                  0
Adolescent fertility rate (%)                             25
Adult literacy rate (%)                                   71
Gross national income per capita (PPP international $)    24
Net primary school enrolment ratio female (%)             23
Net primary school enrolment ratio male (%)               23
Population (in thousands) total                           13
dtype: int64

Rows without missing values:
        Country  CountryID  Continent  Adolescent fertility rate (%)  \
1      Albania          2          2                           27.0
2      Algeria          3          3                            6.0
4       Angola          5          3                          146.0
6    Argentina          7          5                           62.0
7      Armenia          8          2                           30.0
..         ...        ...        ...                            ...
195    Vanuatu        196          6                           92.0
196  Venezuela        197          5                           81.0
197    Vietnam        198          6                           25.0
199      Yemen        200          1                           83.0
200     Zambia        201          3                          161.0

     Adult literacy rate (%)  \
1                       98.7
2                       69.9
4                       67.4
6                       97.2
7                       99.4
..                       ...
195                     75.5
196                     93.0
197                     90.3
199                     54.1
200                     68.0

     Gross national income per capita (PPP international $)  \
1                                               6000.0
2                                               5940.0
4                                               3890.0
6                                              11670.0
7                                               4950.0
..                                                 ...
195                                             3480.0
196                                            10970.0
197                                             2310.0
199                                             2090.0
200                                             1140.0

     Net primary school enrolment ratio female (%)  \
1                                             93.0
2                                             94.0
4                                             49.0
6                                             98.0
7                                             84.0
..                                             ...
195                                           86.0
196                                           91.0
197                                           91.0
199                                           65.0
200                                           94.0

     Net primary school enrolment ratio male (%)  \
1                                           94.0
2                                           96.0
4                                           51.0
6                                           99.0
7                                           80.0
..                                           ...
195                                         88.0
196                                         91.0
197                                         96.0
199                                         85.0
200                                         90.0

     Population (in thousands) total
1                             3172.0
2                            33351.0
4                            16557.0
6                            39134.0
7                             3010.0
..                               ...
195                            221.0
196                          27191.0
197                          86206.0
199                          21732.0
200                          11696.0

[118 rows x 9 columns]

In [24]:
print(f"Replace missing values: {who_df.fillna(0)}")

Replace missing values:                 Country  CountryID  Continent  Adolescent fertility rate (%)  \
0           Afghanistan          1          1                          151.0
1               Albania          2          2                           27.0
2               Algeria          3          3                            6.0
3               Andorra          4          2                            0.0
4                Angola          5          3                          146.0
..                  ...        ...        ...                            ...
197             Vietnam        198          6                           25.0
198  West Bank and Gaza        199          1                            0.0
199               Yemen        200          1                           83.0
200              Zambia        201          3                          161.0
201            Zimbabwe        202          3                          101.0

     Adult literacy rate (%)  \
0                       28.0
1                       98.7
2                       69.9
3                        0.0
4                       67.4
..                       ...
197                     90.3
198                      0.0
199                     54.1
200                     68.0
201                     89.5

     Gross national income per capita (PPP international $)  \
0                                                  0.0
1                                               6000.0
2                                               5940.0
3                                                  0.0
4                                               3890.0
..                                                 ...
197                                             2310.0
198                                                0.0
199                                             2090.0
200                                             1140.0
201                                                0.0

     Net primary school enrolment ratio female (%)  \
0                                              0.0
1                                             93.0
2                                             94.0
3                                             83.0
4                                             49.0
..                                             ...
197                                           91.0
198                                            0.0
199                                           65.0
200                                           94.0
201                                           88.0

     Net primary school enrolment ratio male (%)  \
0                                            0.0
1                                           94.0
2                                           96.0
3                                           83.0
4                                           51.0
..                                           ...
197                                         96.0
198                                          0.0
199                                         85.0
200                                         90.0
201                                         87.0

     Population (in thousands) total
0                            26088.0
1                             3172.0
2                            33351.0
3                               74.0
4                            16557.0
..                               ...
197                          86206.0
198                              0.0
199                          21732.0
200                          11696.0
201                          13228.0

[202 rows x 9 columns]